.DS_Store
*~
Slidescript.tokens
*.pyc
pythonenv/
experimental/
test/test-*.resolved
Slidescript.egg-info/
build/
dist/
examples/party.dot
examples/party.html
examples/party.js
examples/party.png
examples/party.tex
examples/party.vars
examples/party.xls
examples/party.aux
examples/party.log
examples/party.pdf